# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.


# цвета лолго
# rgb(139,119,205) - фиол
# rgb(141,205,244) - центр
# rgb(162,235,255) - голубой 



# __________________________________
# git pull
# git add .
# git commit -m "name"
# git push
# ____ 
# git init
# git add .
# git commit -m "name"
# git push
# __________________________________

dssdsddsds

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
