.header {
  display: flex;
  justify-content: space-between;
  padding: 30px 100px 0px 100px;
  align-items: center;
  font-family: Montserrat;

  .logo_header {
    width: 75px;
  }

  .nav {
    ul {
      display: flex;
      gap: 60px;
    }

    li {
      list-style: none;
    }

    a {
      text-decoration: none;

      font-weight: 800;
      color: black;
    }
  }

  .info_header {
    font-weight: 900;
    color: rgb(93, 77, 237);

    .info_header_number {
      text-align: right;
    }
  }

  button {
    background: rgb(93, 77, 237);
    border: none;
    color: white;
    font-size: 17px;
    padding: 20px 45px;
    border-radius: 5px;
    font-weight: 700;
  }
}
